<ion-content>
  <div id="imgen">
    <img src="../../assets/imgs/kisspng-polytechnic-university-of-aguascalientes-universid-francia-5b2533a3d4d152.4719199215291647078717.png">
  </div>
  <h1>UberUtags</h1>
  <div id ="botones_pasajero">
    <h3>Eres pasajero?</h3>
    <ion-button shape="round" fill="outline" class="Log" routerLink="/login/pasajero">
      Logearse
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
    <ion-button shape="round" class="Reg" routerLink="/register/pasajero">
      Registrate
      <ion-icon slot="end" name="person-add"></ion-icon>
    </ion-button>
  </div>
  <ion-item-divider></ion-item-divider>
  <div id ="botones_conductor">
    <h3>Eres Conductor?</h3>
    <ion-button shape="round" fill="outline" class="Log" routerLink="/login/pasajero">
      Logearse
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
    <ion-button shape="round" class="Reg" routerLink="/register/pasajero">
      Registrate
      <ion-icon slot="end" name="person-add"></ion-icon>
    </ion-button>
  </div>
</ion-content>
